.sidebar {
  flex: 0.8;
  min-height: 100vh;
  background-color: var(--primary);

  .top {
    display: flex;
    align-items: center;
    justify-content: start;

    .logo-wrapper {
      font-size: 20px;
      font-weight: 500;
      color: var(--white);
      margin: 20px 20px 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 0.5rem;
      }
    }
  }

  .center {
    padding-top: 50px;

    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: var(--white);
        margin: 20px 0px 6px 20px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
          background-color: #4e4cc5;
          border-radius: 5px;
        }

        .icon {
          font-size: 22px;
          color: var(--white);
        }

        span {
          font-size: 16px;
          font-weight: 400;
          color: var(--white);
          margin-left: 12px;
        }
      }
    }
  }
}
